<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<h2>Current dues: <%= total%></h2>
<div class="content">
<p>Expense Summary for Current Month</p>
<div class="data">
<div class="row">
<div class="head_text">Purpose</div>
<div class="head_text">Amount</div>
<div class="head_text">Date</div>
</div>
<% datalist.forEach(function(item) { %>
<div class="row">
   <div class="data_text"><%= item.expense_title %>
</div>
	<div class="data_text"><%= item.expense_amount %></div>
	 <div id="dateText" class="data_text"></div>
	  <script>
	  var dat = new Date(<%= item.expense_date %>);
	  console.log("dat",dat);
	document.write(dat.getDate()+1,"/",d.getMonth()+1);
</script>
	</div>
    <% }); %>
 </div>   
    </div>
    <% include footer %>
</body>
</html>
