<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<a id="updatelink" href="/viewbalance">View Balance</a>
</div>
<% include footer %>

</body>
</html>