<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="content">
<a href="/addpnldata">Add Scrip</a>
<a href="/spnldata">Summary</a>

</div>
<% include footer %>
</body>
</html>